In [1]:
##download the module for the web scrapping

!pip install autoscraper

Requirement already satisfied: autoscraper in c:\users\hp\anaconda3\lib\site-packages (1.1.14)
Requirement already satisfied: lxml in c:\users\hp\anaconda3\lib\site-packages (from autoscraper) (4.9.1)
Requirement already satisfied: bs4 in c:\users\hp\anaconda3\lib\site-packages (from autoscraper) (0.0.1)
Requirement already satisfied: requests in c:\users\hp\anaconda3\lib\site-packages (from autoscraper) (2.28.1)
Requirement already satisfied: beautifulsoup4 in c:\users\hp\anaconda3\lib\site-packages (from bs4->autoscraper) (4.11.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests->autoscraper) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests->autoscraper) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\hp\anaconda3\lib\site-packages (from requests->autoscraper) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests->autoscraper) (1.26.14)
Requirement already satisfied: soupsieve>1.2 in c:\users\hp\anaconda3\lib\site-packages (from beautifulsoup4->bs4->autoscraper) (2.3.2.post1)

In [2]:
##import the web scraping library 

from autoscraper import AutoScraper

In [3]:
##copy the url of product which u want to scrape the data 

flipkart_url="https://www.flipkart.com/search?q=samsung+mobiles&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&as-pos=1&as-type=RECENT&suggestionId=samsung+mobiles%7CMobiles&requestId=ba15f2e1-02bf-44b5-980e-c97bed59eafa&as-backfill=onf"

##make a list of data which u wanted after scraping

wanted_list=["SAMSUNG Galaxy S21 FE 5G (Graphite, 128 GB) ",'₹29,999']

In [4]:
#call and save the function in the variable name scrapper
scraper =AutoScraper()

In [5]:
#save the data scraped from the website in the variable result
result=scraper.build(flipkart_url,wanted_list)
print(result)

['SAMSUNG Galaxy S21 FE 5G (Graphite, 128 GB)', 'SAMSUNG Galaxy F04 (Opal Green, 64 GB)', 'SAMSUNG Galaxy F14 5G (B.A.E. Purple, 128 GB)', 'Samsung Galaxy S21 FE 5G with Snapdragon 888 (Graphite, 128 GB)', 'Samsung Galaxy S21 FE 5G with Snapdragon 888 (Olive, 128 GB)', 'SAMSUNG Galaxy S21 FE 5G (Lavender, 128 GB)', 'Samsung Galaxy S21 FE 5G with Snapdragon 888 (Lavender, 128 GB)', 'Samsung Galaxy S21 FE 5G with Snapdragon 888 (Navy, 128 GB)', 'SAMSUNG Galaxy F14 5G (OMG Black, 128 GB)', 'SAMSUNG Galaxy F04 (Jade Purple, 64 GB)', 'SAMSUNG Galaxy F34 5G (Electric Black, 128 GB)', 'SAMSUNG Galaxy F34 5G (Mystic Green, 128 GB)', 'SAMSUNG Galaxy F13 (Waterfall Blue, 128 GB)', 'SAMSUNG Galaxy F14 5G (GOAT Green, 128 GB)', 'SAMSUNG Galaxy M14 5G (Smoky Teal, 128 GB)', 'SAMSUNG Galaxy F34 5G (Orchid Violet, 128 GB)', 'SAMSUNG Galaxy F13 (Waterfall Blue, 64 GB)', 'SAMSUNG Galaxy S22 5G (Green, 128 GB)', 'SAMSUNG Galaxy A34 5G (Awesome Violet, 256 GB)', 'SAMSUNG Galaxy F54 5G (Stardust Silver, 256 GB)', '₹17,999', '₹29,999', '₹6,499', '₹11,490', '₹32,499', '₹12,490', '₹31,999', '₹15,999', '₹9,999', '₹13,778', '₹8,999', '₹39,999', '₹24,999']

In [6]:
## to group the data

scraper.get_result_similar(flipkart_url,grouped=True)

{'rule_xbrk': ['SAMSUNG Galaxy S21 FE 5G (Graphite, 128 GB)',
  'SAMSUNG Galaxy S21 FE 5G (Olive Green, 128 GB)',
  'SAMSUNG Galaxy S21 FE 5G (Lavender, 128 GB)',
  'SAMSUNG Galaxy F04 (Opal Green, 64 GB)',
  'SAMSUNG Galaxy F14 5G (B.A.E. Purple, 128 GB)',
  'SAMSUNG Galaxy F34 5G (Electric Black, 128 GB)',
  'SAMSUNG Galaxy F34 5G (Mystic Green, 128 GB)',
  'SAMSUNG Galaxy F34 5G (Orchid Violet, 128 GB)',
  'SAMSUNG Galaxy F14 5G (OMG Black, 128 GB)',
  'Samsung Galaxy S21 FE 5G with Snapdragon 888 (Olive, 128 GB)',
  'SAMSUNG Galaxy F14 5G (B.A.E. Purple, 128 GB)',
  'SAMSUNG Galaxy F04 (Jade Purple, 64 GB)',
  'Samsung Galaxy S21 FE 5G with Snapdragon 888 (Lavender, 128 GB)',
  'SAMSUNG Galaxy F54 5G (Stardust Silver, 256 GB)',
  'SAMSUNG Galaxy F34 5G (Electric Black, 128 GB)',
  'SAMSUNG Galaxy M14 5G (Smoky Teal, 128 GB)',
  'SAMSUNG Galaxy F14 5G (GOAT Green, 128 GB)',
  'Samsung Galaxy S21 FE 5G with Snapdragon 888 (Graphite, 128 GB)',
  'SAMSUNG Galaxy F14 5G (OMG Black, 128 GB)',
  'Samsung Galaxy S21 FE 5G with Snapdragon 888 (Navy, 128 GB)',
  'SAMSUNG Galaxy S22 5G (Green, 128 GB)',
  'SAMSUNG Galaxy F14 5G (GOAT Green, 128 GB)',
  'SAMSUNG Galaxy F34 5G (Mystic Green, 128 GB)',
  'SAMSUNG Galaxy F13 (Waterfall Blue, 128 GB)'],
 'rule_lyje': ['SAMSUNG Galaxy S21 FE 5G (Graphite, 128 GB)',
  'SAMSUNG Galaxy S21 FE 5G (Olive Green, 128 GB)',
  'SAMSUNG Galaxy S21 FE 5G (Lavender, 128 GB)',
  'SAMSUNG Galaxy F04 (Opal Green, 64 GB)',
  'SAMSUNG Galaxy F14 5G (B.A.E. Purple, 128 GB)',
  'SAMSUNG Galaxy F34 5G (Electric Black, 128 GB)',
  'SAMSUNG Galaxy F34 5G (Mystic Green, 128 GB)',
  'SAMSUNG Galaxy F34 5G (Orchid Violet, 128 GB)',
  'SAMSUNG Galaxy F14 5G (OMG Black, 128 GB)',
  'Samsung Galaxy S21 FE 5G with Snapdragon 888 (Olive, 128 GB)',
  'SAMSUNG Galaxy F14 5G (B.A.E. Purple, 128 GB)',
  'SAMSUNG Galaxy F04 (Jade Purple, 64 GB)',
  'Samsung Galaxy S21 FE 5G with Snapdragon 888 (Lavender, 128 GB)',
  'SAMSUNG Galaxy F54 5G (Stardust Silver, 256 GB)',
  'SAMSUNG Galaxy F34 5G (Electric Black, 128 GB)',
  'SAMSUNG Galaxy M14 5G (Smoky Teal, 128 GB)',
  'SAMSUNG Galaxy F14 5G (GOAT Green, 128 GB)',
  'Samsung Galaxy S21 FE 5G with Snapdragon 888 (Graphite, 128 GB)',
  'SAMSUNG Galaxy F14 5G (OMG Black, 128 GB)',
  'Samsung Galaxy S21 FE 5G with Snapdragon 888 (Navy, 128 GB)',
  'SAMSUNG Galaxy S22 5G (Green, 128 GB)',
  'SAMSUNG Galaxy F14 5G (GOAT Green, 128 GB)',
  'SAMSUNG Galaxy F34 5G (Mystic Green, 128 GB)',
  'SAMSUNG Galaxy F13 (Waterfall Blue, 128 GB)'],
 'rule_nk45': ['₹6,499', '₹11,490', '₹32,499', '₹17,999', '₹24,999'],
 'rule_1k5g': ['₹29,999',
  '₹29,999',
  '₹29,999',
  '₹6,499',
  '₹12,490',
  '₹15,999',
  '₹15,999',
  '₹15,999',
  '₹12,490',
  '₹32,499',
  '₹11,490',
  '₹6,499',
  '₹32,499',
  '₹24,999',
  '₹17,999',
  '₹13,778',
  '₹12,490',
  '₹32,499',
  '₹11,490',
  '₹31,999',
  '₹39,999',
  '₹11,490',
  '₹17,999',
  '₹9,999'],
 'rule_a74d': ['₹29,999',
  '₹29,999',
  '₹29,999',
  '₹6,499',
  '₹12,490',
  '₹15,999',
  '₹15,999',
  '₹15,999',
  '₹12,490',
  '₹32,499',
  '₹11,490',
  '₹6,499',
  '₹32,499',
  '₹24,999',
  '₹17,999',
  '₹13,778',
  '₹12,490',
  '₹32,499',
  '₹11,490',
  '₹31,999',
  '₹39,999',
  '₹11,490',
  '₹17,999',
  '₹9,999'],
 'rule_hvaq': ['₹29,999',
  '₹29,999',
  '₹29,999',
  '₹6,499',
  '₹12,490',
  '₹15,999',
  '₹15,999',
  '₹15,999',
  '₹12,490',
  '₹32,499',
  '₹11,490',
  '₹6,499',
  '₹32,499',
  '₹24,999',
  '₹17,999',
  '₹13,778',
  '₹12,490',
  '₹32,499',
  '₹11,490',
  '₹31,999',
  '₹39,999',
  '₹11,490',
  '₹17,999',
  '₹9,999']}

In [8]:
##give them header and call them by there title. here the alias names are the group name from the grouped data and stored it in the different variables 

scraper.set_rule_aliases({'rule_xbrk':'title','rule_1k5g':'price'})
scraper.keep_rules(['rule_xbrk','rule_1k5g'])
scraper.save('yamini-search')

In [9]:
##we have stored the product title and product price in different groups and stored in variable result

result=scraper.get_result_similar("https://www.flipkart.com/search?q=samsung+mobiles&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&as-pos=1&as-type=RECENT&suggestionId=samsung+mobiles%7CMobiles&requestId=ba15f2e1-02bf-44b5-980e-c97bed59eafa&as-backfill=onf",group_by_alias=True)

In [10]:
## it will only print the product title
result['title']

['SAMSUNG Galaxy S21 FE 5G (Graphite, 128 GB)',
 'SAMSUNG Galaxy F04 (Opal Green, 64 GB)',
 'SAMSUNG Galaxy F14 5G (B.A.E. Purple, 128 GB)',
 'Samsung Galaxy S21 FE 5G with Snapdragon 888 (Graphite, 128 GB)',
 'Samsung Galaxy S21 FE 5G with Snapdragon 888 (Olive, 128 GB)',
 'SAMSUNG Galaxy S21 FE 5G (Lavender, 128 GB)',
 'Samsung Galaxy S21 FE 5G with Snapdragon 888 (Lavender, 128 GB)',
 'Samsung Galaxy S21 FE 5G with Snapdragon 888 (Navy, 128 GB)',
 'SAMSUNG Galaxy F14 5G (OMG Black, 128 GB)',
 'SAMSUNG Galaxy F14 5G (B.A.E. Purple, 128 GB)',
 'SAMSUNG Galaxy F04 (Jade Purple, 64 GB)',
 'SAMSUNG Galaxy F34 5G (Electric Black, 128 GB)',
 'SAMSUNG Galaxy F34 5G (Mystic Green, 128 GB)',
 'SAMSUNG Galaxy F13 (Waterfall Blue, 128 GB)',
 'SAMSUNG Galaxy F14 5G (GOAT Green, 128 GB)',
 'SAMSUNG Galaxy M14 5G (Smoky Teal, 128 GB)',
 'SAMSUNG Galaxy F14 5G (OMG Black, 128 GB)',
 'SAMSUNG Galaxy F34 5G (Orchid Violet, 128 GB)',
 'SAMSUNG Galaxy F13 (Waterfall Blue, 64 GB)',
 'SAMSUNG Galaxy F34 5G (Mystic Green, 128 GB)',
 'SAMSUNG Galaxy F14 5G (GOAT Green, 128 GB)',
 'SAMSUNG Galaxy S22 5G (Green, 128 GB)',
 'SAMSUNG Galaxy A34 5G (Awesome Violet, 256 GB)',
 'SAMSUNG Galaxy F54 5G (Stardust Silver, 256 GB)']

In [11]:
##it will print the product price only 
result['price']

['₹29,999',
 '₹6,499',
 '₹12,490',
 '₹32,499',
 '₹32,499',
 '₹29,999',
 '₹32,499',
 '₹31,999',
 '₹12,490',
 '₹11,490',
 '₹6,499',
 '₹15,999',
 '₹15,999',
 '₹9,999',
 '₹12,490',
 '₹13,778',
 '₹11,490',
 '₹15,999',
 '₹8,999',
 '₹17,999',
 '₹11,490',
 '₹39,999',
 '₹29,999',
 '₹24,999']

In [12]:
#we have saved the title in df1 
df1=result['title']

In [13]:
#we have saved the price in df2
df2=result['price']

In [14]:
#using the pandas library we have converted the list into a dataframe by usin the pandas library
import pandas as pd
data1= pd.DataFrame(df1)
data2= pd.DataFrame(df2)

In [15]:
#we have given the name to both the data frames 
new_column_names1 = {0: 'produt_name'}
data1.rename(columns=new_column_names1, inplace=True)

new_column_names2 = {0: 'produt_price'}
data2.rename(columns=new_column_names2, inplace=True)

In [16]:
#we have merged two dataframes to make a proper table we can even the drop the index but here we have kept it as it is
concatenated_df = pd.concat([data1, data2], axis=1)
concatenated_df

                                          produt_name produt_price
0         SAMSUNG Galaxy S21 FE 5G (Graphite, 128 GB)      ₹29,999
1              SAMSUNG Galaxy F04 (Opal Green, 64 GB)       ₹6,499
2       SAMSUNG Galaxy F14 5G (B.A.E. Purple, 128 GB)      ₹12,490
3   Samsung Galaxy S21 FE 5G with Snapdragon 888 (...      ₹32,499
4   Samsung Galaxy S21 FE 5G with Snapdragon 888 (...      ₹32,499
5         SAMSUNG Galaxy S21 FE 5G (Lavender, 128 GB)      ₹29,999
6   Samsung Galaxy S21 FE 5G with Snapdragon 888 (...      ₹32,499
7   Samsung Galaxy S21 FE 5G with Snapdragon 888 (...      ₹31,999
8           SAMSUNG Galaxy F14 5G (OMG Black, 128 GB)      ₹12,490
9       SAMSUNG Galaxy F14 5G (B.A.E. Purple, 128 GB)      ₹11,490
10            SAMSUNG Galaxy F04 (Jade Purple, 64 GB)       ₹6,499
11     SAMSUNG Galaxy F34 5G (Electric Black, 128 GB)      ₹15,999
12       SAMSUNG Galaxy F34 5G (Mystic Green, 128 GB)      ₹15,999
13        SAMSUNG Galaxy F13 (Waterfall Blue, 128 GB)       ₹9,999
14         SAMSUNG Galaxy F14 5G (GOAT Green, 128 GB)      ₹12,490
15         SAMSUNG Galaxy M14 5G (Smoky Teal, 128 GB)      ₹13,778
16          SAMSUNG Galaxy F14 5G (OMG Black, 128 GB)      ₹11,490
17      SAMSUNG Galaxy F34 5G (Orchid Violet, 128 GB)      ₹15,999
18         SAMSUNG Galaxy F13 (Waterfall Blue, 64 GB)       ₹8,999
19       SAMSUNG Galaxy F34 5G (Mystic Green, 128 GB)      ₹17,999
20         SAMSUNG Galaxy F14 5G (GOAT Green, 128 GB)      ₹11,490
21              SAMSUNG Galaxy S22 5G (Green, 128 GB)      ₹39,999
22     SAMSUNG Galaxy A34 5G (Awesome Violet, 256 GB)      ₹29,999
23    SAMSUNG Galaxy F54 5G (Stardust Silver, 256 GB)      ₹24,999

In [17]:
# checking the null values
concatenated_df.isna().sum()

produt_name     0
produt_price    0
dtype: int64

In [18]:
#checking the count of the data 
concatenated_df.count()

produt_name     24
produt_price    24
dtype: int64

In [19]:
#checking the datatype of the data
concatenated_df.dtypes

produt_name     object
produt_price    object
dtype: object

In [29]:
#changing the datatypes
concatenated_df['produt_name']=concatenated_df['produt_name'].astype(str)

In [35]:
#to change the datatype of price, first we have to remove the regular expression to format it. then we have converted the price into the numeric data
concatenated_df['produt_price'] = concatenated_df['produt_price'].str.replace(r'\d', '', regex=False)

concatenated_df['produt_price'] = pd.to_numeric(concatenated_df['produt_price'], errors='coerce', downcast='integer')

In [36]:
#as we can see that there are two column named as product_price
concatenated_df.head()

,produt_name,produt_price,Produt_price
0,"SAMSUNG Galaxy S21 FE 5G (Graphite, 128 GB)",NaN,29999
1,"SAMSUNG Galaxy F04 (Opal Green, 64 GB)",NaN,6499
2,"SAMSUNG Galaxy F14 5G (B.A.E. Purple, 128 GB)",NaN,12490
3,Samsung Galaxy S21 FE 5G with Snapdragon 888 (...,NaN,32499
4,Samsung Galaxy S21 FE 5G with Snapdragon 888 (...,NaN,32499

In [37]:
# we can see that the product_price column is  null
concatenated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   produt_name   24 non-null     object
 1   produt_price  0 non-null      float64
 2   Produt_price  24 non-null     int32
dtypes: float64(1), int32(1), object(1)
memory usage: 608.0+ bytes

In [38]:
# here we dropped the column with the null values so we can get the proper tables withh the proper datatypes
concatenated_df = concatenated_df.dropna(axis=1, how='all')

In [39]:
concatenated_df.head()

                                         produt_name  Produt_price
0        SAMSUNG Galaxy S21 FE 5G (Graphite, 128 GB)         29999
1             SAMSUNG Galaxy F04 (Opal Green, 64 GB)          6499
2      SAMSUNG Galaxy F14 5G (B.A.E. Purple, 128 GB)         12490
3  Samsung Galaxy S21 FE 5G with Snapdragon 888 (...         32499
4  Samsung Galaxy S21 FE 5G with Snapdragon 888 (...         32499

In [41]:
# we have successfully changed the datatype of the data. object datatype is similar to the string datatype 
concatenated_df.dtypes

produt_name     object
Produt_price     int32
dtype: object

In [40]:
concatenated_df.describe()

       Produt_price
count     24.000000
mean   19508.375000
std    10203.448304
min     6499.000000
25%    11490.000000
50%    15999.000000
75%    29999.000000
max    39999.000000